Source: ros-noetic-osqp
Section: misc
Priority: optional
Maintainer: Levi Armstrong <levi.armstrong@swri.org>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: https://osqp.org/
Standards-Version: 3.9.2

Package: ros-noetic-osqp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-catkin
Description: The Operator Splitting QP Solver
